<!DOCTYPE html>
<html>
  <head>
    <title>Edit Restaurant</title>
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <header>
      <h2><%=restaurant.name%></h2>
    </header>
    <main>
      <%- include layouts/editLayout.ejs %>

      <table>
        <a href="/admin/employeeNew">
          <button>New Employee</button>
        </a>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Position</th>
        </tr>
        <% employees.forEach(function(employees) { %>
        <tr>
          <td><%=employee.first_name></td>
          <td><%=employee.last_name></td>
          <td><%=employee.position></td>
        </tr>
      </table>
    </main>
  </body>
</html>
