<!DOCTYPE html>
<html>
  <head>
    <title>restaurants</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <header>
      <h2><%= restaurant.name %></h2>
    </header>
    <main>
      <section>
        <section id = "restaurantImage">
          <img src="<%=restaurant.image%>" alt="restaurant image">
        </section>
        <section>
          <table>
            <th>
              Employees
            </th>
            <% employees.forEach(function(restaurant) { %>
            <tr>
              <td><%=employee.first_name</td>
              <td><%=employee.last_name</td>
              <td><%=employee.position</td>
            <tr>
            </tr>
          </table>
        </section>
      </section>
      <section id = "restaurantInfo">
        <section>
          <%console.log('in show***',restaurant); %>
        <span><%=restaurant.cuisine+ ' cuisine'%></span><br>
        <span>Located in <%= restaurant.city%>,
        <%= restaurant.state%></span><br>
        <p><%= restaurant.description%></p>
        <section>
          <span>Rating:</span>
          <%for (i=0; i< restaurant.rating; i++)
          { %>
           <i class="fa fa-star"></i>
         <% }; %>
        </section>
        <a href="<%= '/' + restaurant.id + '/edit'%>">
          <button class = "goButton">Edit</button>
        </a>
        <a href="<%= '/' + restaurant.id + '/delete'%>">
          <button class = "stopButton">Delete</button>
        </a>
        </section>
      </section>
    </main>
  </body>
</html>
