<form class="restaurantReviews" action="<%=route %>" method="post">
  <fieldset>
    <legend>
      <% if (route!='/new') { %>
        Review
      <% } else { %>
        New Review
      <% } %>
    </legend>
    <label for="name">Name</label><br>
    <input type="text" name="name" id="name" value = "<%=review.name%>"><br>
    <label for="date">Date</label><br>
    <input type="date" name="last_name" id="date" value = "<%=review.date%>"><br>
    <label for="content">Content</label><br>
    <input type="text" name="content" id="content" value = "<%=review.content%>"><br>
    <% for (i=0; i<ratings; i++) {
    %>
      <input type="radio" name="rating" value=<%=i+1%>
      <% if (review.rating === (i+1)) {
      %>
        checked = "checked";
      <% } %>
      >
    <% } %>
    <br>
    <input type="integer" name="restaurant_id" value=<%= restaurant_id %>>


    <section id = "submitButtons">
      <input type="submit" value="Submit" class = "goButton">
      <a href="<%= '/' + restaurant_id + '/review' %>">
        <button type = "button" class = "stopButton">Cancel</button>
      </a>
    </section>

  </fieldset>
</form>
