<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <header>
    </header>
    <main>

      <form class="restaurantInfo" action="/admin" method="post">
        <fieldset>
          <legend>Employees %></legend>
          <section class = "scrollable">
            <%
              var newRestaurantId = true;
             restaurantEmployees.forEach(function(restaurantEmployee) {
              console.log(restaurantEmployee);
              if (restaurantEmployee.id != newRestaurantId) {
              var restaurantElementId = 'restaurant' + restaurantEmployee.restaurantID; %>
              <ul id = "restaurant"
                <%= restaurantEmployeeId%> >
                <li><%=restaurantEmployee.first_name%></li>
              </ul>
            } %>
            document.getElementById(<%= restaurantElementID %> <%restaurantEmployee.firstName + ' ' +  restaurantEmployee.lastName %>
            document.getElementById("restaurant"<%=restaurant.id%>).append
                 employees.forEach(function(employee) { %>
                    <li>
                      <%= employee.first_name +' ' + employee.last_name %>
                    </li>
                  <% }); %>
                </ul>
              </section>
            <% }); %>
          </section> -->
        </fieldset>
      </form>
    </main>
  </body>
</html>
