<form class="" action="<%=route %>" name = "new" method="post">
  <fieldset>
    <legend>Create Restaurant</legend>
    <label for="name">Name</label><br>
    <input type="text" name="name" id="name"
    value = "<%= restaurant.name %>"> <br>
    <label for="city">Location</label><br>
    <input type="text" name="city" id="city"
    value = "<%= restaurant.city %>"> <br>
    <select name="state" id = "state">
    <% states.forEach(function(state) { %>
      <option value='<%= state %>'> <%= state %></option>
    <% }) %>
    </select><br>
    <label for="cuisine">Cuisine</label><br>
    <select name = "cuisine" id="cuisine">
    <% cuisines.forEach(function(cuisine) { %>
      <option value ='<%= cuisine %>'> <%=cuisine%></option>
    <% }) %>
    </select><br>
    <input type="radio" name="rating" value="1" checked>
    <input type="radio" name="rating" value="2">
    <input type="radio" name="rating" value="3">
    <input type="radio" name="rating" value="4">
    <input type="radio" name="rating" value="5"><br>
    <label for="image">Image</label>
    <input type="text" name="image" id="image"
    value = "<%=restaurant.image%>"<br>
    <input type="textarea" name = "description" id = "description"
    value = "<%=restaurant.description%>"<br>
<%console.log( 'route from form = ', route); %><br>
    <input type="submit" value="Submit">
    <input type="submit" value="Cancel">
  </fieldset>
</form>
