<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <header>
      <h1>gTables</h1>
      <nav>
        <a href="/../admin">Admin</a>
        <a href="/new">New Restaurant</a>
      </nav>
    </header>
    <main>
      <div id = "restaurantGallery">
        <% restaurants.forEach(function(restaurant) { %>
        <section  id = "restaurant">
          <a href = "<%= '/' + restaurant.id%>"
          <span><%= restaurant.name %></span></a>
          <img src="<%= restaurant.image %>"/>
          <span><%= restaurant.cuisine + " Cuisine" %></span>
          <span><%= restaurant.city + ", " + restaurant.state %></span>
          <section id = "rating">
            <%- include ratingLayout.ejs %>
          </section>
        </section>
        <% }); %>
      </div>
    </main>
  </body>
</html>
